.accordion
    div
        input#c1.accordion(type='radio' name='accordion')
        label(for='c1') Chapter one
        p
            | Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    div
        input#c2.accordion(type='radio' name='accordion')
        label(for='c2') Hello World
        p
            | Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
