.contacts
    .wrapper
        h2.center Контактная информация
        .socials
            ul
                li vk
                li twitter
                li telegram
        .text1
            p
                | Я открыт для новых проектов. Вы можете прислать мне для оценки примерное теххническое задание или просто описание проекта своими словами.
        .form
            form
                input(type="text" placeholder="Как вас зовут?")
                input(type="email" placeholder="Почтовый ящик")
                textarea(placeholder="Сообщение")
                input(type="file" value="Прикрепить ТЗ")
                input(type="submit" value="Отправить")