.contacts#connect
    .wrapper
        h2.center Контактная информация
        .socials
            a(href="https://vk.com/minnemullin.bulat")
                .vk
            a(href="https://www.facebook.com/bulat.minnemullin")
                .fb
            a(href="https://t.me/minbulat")
                .tg
            //object(=require("../images/VK.com-logo.svg"))

        .text1
            p
                | Я открыт для новых проектов. Вы можете прислать мне для оценки примерное техническое задание или просто описание проекта своими словами.
        form.form
            input#name(type="text" placeholder="Как вас зовут?")
            input#mail(type="email" placeholder="Почтовый ящик")
            textarea#message(placeholder="Сообщение")
            input#file(type="file" value="Прикрепить ТЗ")
            input.button#enter(type="submit" value="Отправить")