.contacts#connect
    .wrapper
        h2.center Контактная информация
        .socials
            a.vk(href="https://vk.com/minnemullin.bulat")
                img(src=require("../images/v-c.svg"))
            a.fb(href="https://www.facebook.com/bulat.minnemullin")
                img(src=require("../images/f-c.svg"))
            a.tg(href="https://t.me/minbulat")
                img(src=require("../images/t-c.svg"))
            //object(=require("../images/VK.com-logo.svg"))

        .text1
            p
                | Я открыт для новых проектов. Вы можете прислать мне для оценки примерное техническое задание или просто описание проекта своими словами.
        form.form
            input#name(type="text" placeholder="Как вас зовут?" required)
            input#mail(type="email" placeholder="Почтовый ящик" required)
            textarea#message(placeholder="Сообщение" required)
            #file
                //    label.file-label(for="file-input")
                input#file-input(type="file")
                label.file-label(for="file-input") Прикрепить ТЗ
            //input#file(type="file" value="")
            input.button#enter(type="submit" value="Отправить")
            //label.file-label.no-selected Прикрепить ТЗ
            //label.file-label.selected Выбрать другой файд