.expectations
    .wrapper
        h2 Ожидания от ШРИ
        .accordion
            div
                input#c1.accordion(type='checkbox')
                label(for='c1')
                    big Знания
                p.text1
                    | Получить новые знания и навыки в проектировании интерфейсов, больше узнать о современных возможностях Web.
            div
                input#c2.accordion(type='checkbox')
                label(for='c2')
                    big Опыт
                p.text1
                    | Получить опыт разработки интерфейсов.
            div
                input#c3.accordion(type='checkbox')
                label(for='c3')
                    big Знакомства
                p.text1
                    | Познакомиться со своими коллегами в веб-разработке, поделиться опытом.
            div
                input#c4.accordion(type='checkbox')
                label(for='c4')
                    big Трудоустройство
                p.text1
                    | Увеличить шансы трудоустройства веб-разработчиком в хорошие IT-компании.
