.expectations
    .wrapper
        h2 Ожидания от ШРИ
        .accordion
            div
                input#c1.accordion(type='radio' name='accordion')
                label(for='c1') Свобода
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя первый.
            div
                input#c2.accordion(type='radio' name='accordion')
                label(for='c2') Равенство
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя второй.
            div
                input#c3.accordion(type='radio' name='accordion')
                label(for='c3') Братство
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя третий.
            div
                input#c4.accordion(type='radio' name='accordion')
                label(for='c4') Трудоустройство
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя четвертый.
