.expectations
    .wrapper
        h2 Ожидания от ШРИ
        .accordion
            div
                input#c1.accordion(type='checkbox')
                label(for='c1')
                    big Свобода
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя первый.
            div
                input#c2.accordion(type='checkbox')
                label(for='c2')
                    big Равенство
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя второй.
            div
                input#c3.accordion(type='checkbox')
                label(for='c3')
                    big Братство
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя третий.
            div
                input#c4.accordion(type='checkbox')
                label(for='c4')
                    big Трудоустройство
                p.text1
                    | Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмперический портрет потребителя четвертый.
