.header
    .wrapper
        .photo
            img(src=require("../images/photo.png"))
        h1.name Булат Миннемуллин
        .about.text1 Веб-разработчик, магистрант университета ИТМО
        .connect
            a.button(href="#connect") Связаться