.header
    .wrapper
        .photo
            //img(src="../images/photo.png")
            img
        //h1.name Бо Джек
        h1.name Булат Миннемуллин
        .about.text1 Веб-разработчик, магистрант университета ИТМО
        .connect
            a.button(href="#connect") Связаться