.header
    .wrapper
        .photo
            img(src="images/photo.png")
        .name Булат Миннемуллин
        .about Веб-разработчик, магистрант университета ИТМО
        .connect
            a.button(href="#connect") Связаться