.projects
    .wrapper
        h2 Мои работы
        .text1 Собраны избранные реально работающие проекты

        article
            h3 Генератор dockerfile
            a docker.minbulat.ru

            .slider





                .slideo
                    input#slide-1-1.bullit(type='radio', name='slider-1', checked='')
                    label.slide(for='slide-1-1')
                    //label.i(for='slide-1-1')
                    img.image(src='http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg', alt='')
                .slideo
                    input#slide-1-2.bullit(type='radio', name='slider-1')
                    label.slide(for='slide-1-2')
                    img.image(src='http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg', alt='')
                .slideo
                    input#slide-1-3.bullit(type='radio', name='slider-1')
                    label.slide(for='slide-1-3')
                    img.image(src='http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg', alt='')
                .slideo
                    input#slide-1-4.bullit(type='radio', name='slider-1')
                    label.slide(for='slide-1-4')
                    img.image(src='http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg', alt='')

    //.slider
            //    input#slide-2-1.bullit(type='radio', name='slider-2', checked='')
            //    label.slide(for='slide-2-1')
            //    img.image(src='http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg', alt='')
            //
            //    input#slide-2-2.bullit(type='radio', name='slider-2')
            //    label.slide(for='slide-2-2')
            //    img.image(src='http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg', alt='')
            //
            //    input#slide-2-3.bullit(type='radio', name='slider-2')
            //    label.slide(for='slide-2-3')
            //    img.image(src='http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg', alt='')
            //
            //    input#slide-2-4.bullit(type='radio', name='slider-2')
            //    label.slide(for='slide-2-4')
            //    img.image(src='http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg', alt='')


