@import "variables.styl"

.slider
  position relative
  width 100%
  padding-top calc(54% +20px)
  //text-align center
  display flex
  justify-content space-between
  flex-direction column
  align-items center


  @media screen and (min-width: 1000px)
    flex-direction row-reverse
    align-items start

  //@media screen and (min-width: 1000px)
  //  border-radius: 8px;


//@media screen and (min-width: 600px)
//  max-width 280px
//
//@media screen and (min-width: 1000px)
//  max-width 700px
.bullits
  display flex
  margin-bottom 16px

.bullit
  display none

  &:checked
    & + .slide
      &:after
        background-color transparent
        border: 1px solid #71ABFF;
        width 6px
        height 6px

      & + .image
        display block

.image
  position absolute
  top 0
  left 0
  display none
  box-shadow 0 1px 2px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(0,0,0,0.12);
  border-radius: 4px;
  width 100%

  @media screen and (min-width: 600px)
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 7px 22px 0 rgba(0,0,0,0.12);

  @media screen and (min-width: 1000px)
    border-radius: 8px;

.slide
  overflow hidden
  display inline-block
  width 16px
  height 16px
  //background-color white

  &:after
    content: ''
    width 8px
    height 8px
    background-color $color-6
    display block
    margin 4px
    border-radius 50%
    transition: 0.5s;

  &:hover
    &:after
      background-color $color-white

//text-indent -9999px


.description
  color $color-white
  font-size 14px
  text-align left
  margin 0
  line-height 20px

  @media screen and (min-width: 1000px)
    max-width 520px
