@import "variables.styl"
@import "accordion.styl"

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
body
  background-color: $color-gray-light
  
  h2.center
    text-align: center