@import "variables.styl"
@import "accordion.styl"

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400


html, body, div
  margin 0
  padding 0

body
  body { background: url('../images/photo.png'); }

  h2.center
    text-align: center

.wrapper
  max-width 700px

.header
  background-color: $color-gray-light

.expectations
  background-color: $color-white


.projects
  background-color: $color-gray-dark

.contacts
  background-color: $color-gray-light