@import "variables.styl"
@import "accordion.styl"
@import "slider.styl"
//
//@font-face
//  font-family: 'Roboto'
//  font-style: normal
//  font-weight: 400


html, body, div
  margin 0
  padding 0

body

  //background url('https://github.com/studyminbulat/shri-minsk-2019-1/blob/master/src/images/page-1-desktop.png?raw=true') no-repeat;
  //background url('../images/page-1-desktop.png') no-repeat;
  background-position: center top;
  background-size 1000px;

  //opacity 0.5

  h2.center
    text-align: center



.button:hover
  background-color $color-black

.button:active
  background-color $color-main
  opacity 0.7

.header, .expectations, .projects, .contacts
  display flex
  justify-content  center


.header
  background-color: $color-gray-light
  min-height 100vh

  .wrapper
    display flex
    flex-direction column
    align-items center
    justify-content center
    padding-top 124px
    padding-bottom 125px


    max-width 280px

    @media screen and (min-width: 600px)
      max-width 280px

    @media screen and (min-width: 1000px)
      max-width 700px

  .photo
    img
      width 205px
      height 205px
      //background url('../images/photo.png');
      background-size 205px;
      border-radius 50%

      @media screen and (min-width: 600px)
        width 250px
        height 250px
        background-size 250px;

      @media screen and (min-width: 1000px)
        width 340px
        height 340px
        background-size 340px;


  .name
    margin-bottom 10px

  .about
    text-align center

  .connect
    margin-top 22px


.expectations
  background-color: $color-white
  padding-bottom 15px
  //height 523px
  .wrapper
    //padding 100px 0 115px 0

    p.text1
      max-width 520px



.projects
  background-color: $color-gray-dark
  .wrapper

    h2
      color $color-white
      text-align center
      margin 0

    .text1
      color $color-white
      opacity 0.7
      text-align center
      margin 8px auto 0 auto
      max-width 520px

.contacts
  background-color: $color-gray-light

  .wrapper
    width calc(100% - 40px)
  h2
    margin 0

  .text1
    margin 40px 0
    text-align center
  .form
    margin-top 20px
    //width calc(100% - 40px)
    display grid
    grid-gap 20px
    grid-template-areas "name " "mail" " message" " file" " enter"
    grid-template-columns: 100%;
    //grid-template-rows: auto;
    @media screen and (min-width: 1000px)
      grid-template-areas "name mail" "message message" "file file" "enter enter"
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);

    #name
      grid-area name

    #mail
      grid-area mail
    #message
      grid-area message
      //grid-column: 1 / span 2;
    #file
      grid-area file
      //grid-column: 1 / span 2;
    #enter
      grid-area enter
      //grid-column: 1 / span 2;

    input, textarea
      height calc(36px - 6px - 6px)
      //padding 6px 72px 10px 12px
      padding 6px 72px 6px 12px
      background: #FFFFFF;
      border: 1px solid rgba(31,64,111,0.20);
      border-radius: 4px;

      &::placeholder
        opacity: 0.3
        font-family 'PT Sans', sans-serif
        font-size 16px
        color #000000
        line-height 20px

    textarea
      resize: none
      height 136px
      font-family 'PT Sans', sans-serif
      font-size 16px

    input[type=file]
      background-color $color-gray-light
      color $color-main

    .button
      background-color $color-main
      color $color-white
      width 100%
      //height calc(52px - 2 * 14px)
      height 52px
      padding 14px

  .socials
    .vk
      width 48px
      height 48px
      background-size  48px 48px
      border-radius 50%
      background-image url("../images/VK.com-logo.svg?fill=%23395A99")

      &:hover
        background-image url("../images/VK.com-logo.svg?fill=%23395A99")
