$color-main = #0059D9
$color-hover = #000000
$color-click = alpha($color-main, 0.7)

$color-white = #FFFFFF
$color-gray-light = #EFF1F2
$color-gray-dark = #25282A
$color-black = #000000
$color-5 = #0059D9
$color-6 = #71ABFF
$color-7 = #C5CDD7
$color-8 = #395A99
$color-8 = #395A99
$color-9 = #51ADEF
$color-10 = #2CA5E0


@import url('https://fonts.googleapis.com/css?family=Montserrat:800|PT+Mono|PT+Sans&subset=cyrillic');

//font-family: 'Montserrat', sans-serif;

// Заголовок
h1 
    font-family 'Montserrat', sans-serif
    font-size 36px
    
    /* <600px*/
    font-size 36px
    
// Подзаголовок    
h2 
    font-family 'Montserrat', sans-serif
    font-size 36px
    
// Крупный текст
big
    font-family 'Montserrat', sans-serif
    font-size 24px

// Пользовательский ввод
textaria
    font-family 'PT Sans', sans-serif
    font-size 20px
// Наборный текст 1
.text1
    font-family 'PT Mono', sans-serif
    font-size 14px
    //font-size 20px

// Наборный текст 2
.text2
    font-family 'PT Sans', sans-serif
    font-size 20px
    
    
    