
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: red;
  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 20rem;
    }
  }
}